{% extends 'base.html' %}
{% load static %}
{% block title %}Teams | Turnamenku{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stylesteams.css' %}">
{% endblock %}
{% block content %}
  {% include 'layout_navbar.html' %}
  <div class="teams">
    <div class="frames-container">
      <div class="frame">
        <div class="flex justify-center items-center">
          <img src="{% static 'images/Superman Night 1 Streamline UX Line.png' %}" alt="team leadership" />
        </div>
        <div class="text-wrapper-2">Meet Your Team</div>
        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <button onclick="openModal('modal-meet')" class="text-wrapper">Let’s meet em!</button>
      </div>

      <div class="frame">
        <div class="flex justify-center items-center">
          <img src="{% static 'images/Friends Wave Streamline UX Line.png' %}" alt="joining team" />
        </div>  
        <div class="text-wrapper-2">I Need A Team</div>
        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <button onclick="openModal('modal-join')" class="text-wrapper">I’m a human too</button>
      </div>

      <div class="frame">
        <div class="flex justify-center items-center">
          <img src="{% static 'images/Comment Rating Streamline UX Line.png' %}" alt="manage team" />
        </div>
          <div class="text-wrapper-2">Manage Your Team</div>
        <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <button onclick="openModal('modal-manage')" class="text-wrapper">I am the boss!!</button>
      </div>
    </div>
  </div>
</body>

{% include 'meet_teams.html' %}
{% include 'manage_team.html' %}
{% include 'join_teams.html' %}

{% endblock content %}

{% block extra_js %}
<script>
  const urls = {
    MANAGE: "{% url 'teams:manage_team' %}",
    JOIN: "{% url 'teams:join_teams' %}",
    MEET: "{% url 'teams:meet_teams' %}",
  }

  function openModal(id) {
    const modal = document.getElementById(id);
    if (modal) {
      modal.classList.add('show');
    } else {
      console.error(`Modal with ID "${id}" not found.`);
    }
  }

  function closeModal(id) {
    const modal = document.getElementById(id);
    if (modal) {
      modal.classList.remove('show');
    } else {
      console.error(`Modal with ID "${id}" not found.`);
    }
  }
</script>
{% endblock extra_js %}
