:root {
  --blue-1: rgba(209, 219, 228, 1);
  --blue-2: rgba(163, 183, 202, 1);
  --blue-3: rgba(117, 147, 175, 1);
  --blue-4: rgba(71, 111, 149, 1);
  --blue-5: rgba(25, 74, 122, 1);
  --white: rgba(255, 255, 255, 1);
  --yg-penting-fontnya-sama-cik-poppins-font-family: "Poppins", Helvetica;
  --yg-penting-fontnya-sama-cik-poppins-font-weight: 400;
  --yg-penting-fontnya-sama-cik-poppins-font-size: 16px;
  --yg-penting-fontnya-sama-cik-poppins-letter-spacing: 0px;
  --yg-penting-fontnya-sama-cik-poppins-line-height: normal;
  --yg-penting-fontnya-sama-cik-poppins-font-style: normal;
}
