{% extends 'layout_navbar.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block main_content %}
<div class="bg-white p-8 rounded-xl shadow-lg">
    <h1 class="text-3xl font-bold text-custom-blue-400">
        Selamat Datang di TURNAMENKU!
    </h1>
    <p class="mt-4 text-gray-700">
        Ini adalah halaman homepage. Navigasi sudah berhasil!
    </p>
    <p class="mt-2 text-gray-600">
        Coba klik nama kamu di pojok kanan atas untuk melihat profil.
    </p>
</div>
{% endblock main_content %}